* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

body {
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #fff;
  margin: 0px auto;
  position: relative;
}
@media (max-width: 990px) {
  .nav-link {
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    letter-spacing: 2px;
  }
  .navbar-nav {
    height: 100vh;
  }
}
.description {
  padding: 30px 0px;
}
.modal-content {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  border-radius: 0px;
}

.modal-header {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(248, 236, 236);
}
.modal-footer {
  background-color: rgb(248, 236, 236);
}
.btn {
  color: grey;
  background-color: white;
}
.btn:hover {
  background-color: rgb(202, 201, 201);
  color: grey;
}
.modal-img {
  width: 292;
  height: 379;
  border-radius: 45px;
  margin-left: 250px;
}
.modal-img2 {
  width: 248;
  height: 414;
  border-radius: 25px;
  margin-left: 0px;
  justify-content: center;
  display: flex;
  align-self: center;
}
.modal-img3 {
  width: 500;
  height: 308;
  border-radius: 45px;
  justify-content: center;
  display: flex;
}
.modal-title {
  margin: 0 auto;
  text-align: center;
  padding-left: 100px;
}
@media screen and (max-width: 540px) {
  .modal-title,
  h5 {
    padding-left: 30px;
  }
}
.modalBtn {
  margin: 40px 10px;
  padding: 10px;
  color: blue;
  border: 1px solid grey;
  border-color: blue;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
}
.modalBtn:hover {
  background-color: rgb(202, 201, 201);
  color: blue;
  text-decoration: none;
}

h2 {
  margin: 0px 0px 30px;
}
.workSubtitle {
  margin-bottom: 50px;
}
#intro {
  position: relative;
}
.aboutMeDescription {
  padding-top: 60px;
  color: white;
}
.aboutTitle {
  color: white;
}
#about {
  height: 80vh;
  padding-top: 110px;
  margin-bottom: 60px;
  background: #f172a1;
  position: relative;
  padding-bottom: 40rem;
}
#about::after,
#about::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  background: #f172a1;
  bottom: -1em;
  z-index: 100;
}
#about::before {
  right: 50%;
  transform: skew(0, 20deg);
}
#about::after {
  left: 50%;
  transform: skew(0, -20deg);
}
#experience {
  padding: 60px 0px 60px;
}
#work {
  padding: 60px 0px 60px;
}

#contact {
  padding: 60px 0px 10px;
  background: hotpink;
}
.skillsSection {
  margin: 0 auto;
}
.skills-para {
  margin: 0px auto;
}
.otherSkills {
  font-family: "Roboto Slab", serif;
  padding-left: 20px;
  padding-top: 5px;
  display: inline block;
}

.otherSkills div div {
  float: left;
  padding: 10px;
  border: 1px solid hotpink;
  margin: 0 10px 15px;
}
.otherSkills div div:hover {
  border: 3px solid white;
}
@media screen and (max-width: 576px) {
  .otherSkills {
    padding-left: 0px;
  }
  .box {
    height: 100 !important;
    width: 100 !important;
    font-size: 10px !important;
    margin: 0 auto;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border-color: rgb(230, 21, 125);
    font-weight: 12px;
    letter-spacing: 0.5px !important;
    color: white;
    background: hotpink;
  }
}
.skillsEffect {
  float: left;
  padding: 10px;
  border: 3px solid hotpink;
  margin: 0 10px 15px;
  font-family: "Roboto Slab", serif !important;
  letter-spacing: 1px;
  background: rgb(248, 209, 215);
  color: black;
}
.skillsEffect:hover {
  border: 3px solid hotpink;
}
.skillsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  height: 120px;
  width: 120px;
  font-size: 13px;
  margin: 0 auto;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border-color: rgb(230, 21, 125);
  font-weight: 14px;
  letter-spacing: 1.5px;
  color: white;
  background: hotpink;
}
.aboutPara {
  margin: 0 auto;
}
.contactPara {
  margin: 0 auto;
}
.work-row {
  margin: 20px 20px 0px 20px;
}

.navbar-custom {
  background-color: black;
  color: white;
  margin-bottom: 0;
  border-color: transparent;
  border-bottom: 0;
  letter-spacing: 1px;
  background: 0 0;
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.active {
  color: hotpink;
}

.subtitle {
  margin: 0px 0px 25px;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: white;
  z-index: 10;
  position: relative;
}
.title {
  color: white;
  z-index: 10;
  position: relative;
}
a {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}
p {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 300;
}
.myPic {
  width: 170;
  height: 170;
  margin-bottom: 20px;
  border-radius: 50%;
}
.skillsSection .tech-icon i {
  margin: 0 auto;
  width: 70px;
  height: auto;
  font-size: 70px;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skillsSection .tech-icon img {
  margin: 0 auto;
  width: 75px;
  height: auto;
  font-size: 75px;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.skillsSection .tech-icon {
  padding: 0px 15px 15px;
  height: 120px;
}

@media screen and (max-width: 360px) {
  .skillsSection .tech-icon {
    padding-bottom: 0;
    height: 100px;
  }
}
@media screen and (max-width: 768px) {
  .skillsSection .tech-icon {
    padding: 0 10px 10px;

    margin: 10px;
  }

  .sql {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.skillsSection .tech-icon img:hover {
  -webkit-filter: drop-shadow(6px 6px 6px hotpink);
  filter: drop-shadow(6px 6px 6px hotpink);
}
.skillsSection .tech-icon i:hover {
  color: hotpink;
}

@media screen and (max-width: 450px) {
  .skillsSection .tech-icon i {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  .skillsSection .tech-icon img {
    width: 55%;
    height: auto;
  }
}
@media screen and (max-width: 254px) {
  .skillsSection .tech-icon img {
    width: 65%;
    height: auto;
  }
}
@media screen and (max-width: 204px) {
  .skillsSection .tech-icon img {
    width: 75%;
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  .skillsSection .tech-icon {
    margin: 0;
    padding: 2px;
    width: 30% !important;
  }
}
@media screen and (max-width: 350px) {
  .skillsSection .tech-icon {
    margin: 0;
    padding: 2px;
    width: 50% !important;
  }
  .modalBtn {
    margin-bottom: 20px !important;
    padding: 4px;
    font-size: 12px;
    background-color: white;
  }
  .modal-description {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 991px) {
  .skillsSection .tech-icon i {
    font-size: 65px;
    height: auto;
  }
}
.emailIcon {
  font-size: 50px;
  color: black;
}
.overlay {
  position: absolute; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.portfolio-overlay {
  position: absolute;
  display: block;
  width: 450;
  height: 216;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  border-radius: 25px;
}
.portfolio-img {
  border-radius: 25px;
}
.work-wrapper {
  position: relative;
}

.work-info {
  position: absolute;
  display: none;
  width: 450;
  height: 33.28;
  background-color: hotpink;
  color: white;
  z-index: 10;
  cursor: pointer;
}
.links {
  padding: 85 160;
}
#intro h1 {
  margin: 0px 0px 30px;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 3px;
  font-family: "Lato", sans-serif;
}
h1 {
  line-height: 1.1;
  position: absolute;
}
h2 {
  font-family: "Lato", sans-serif;
}
h4 {
  font-family: "Roboto Slab", serif;
  font-size: 22px;
  margin: 15px 0px 8px;
}
h5 {
  font-family: "Roboto Slab", serif;
}

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}
.page-scroll {
  padding: 0px 15px 0px 15px !important;
  z-index: 10;
}
.logo {
  width: 40;
  height: 38.4;
}
#intro {
  background: url(images/background2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  color: #000;
  height: 100vh;
}
@media screen and (max-width: 1000px) {
  #intro {
    background-size: cover;
    height: 100vh;
  }
}

footer {
  font-family: "Lato", sans-serif;
  padding: 15px;

  background: rgb(221, 219, 219);
}
footer p {
  font-weight: lighter;
  font-size: small;
}
.social-media {
  margin-top: 20px;
}
.text-center {
  text-align: center;
}
.navbar-custom .navbar-brand:hover {
  opacity: 0.8;
}
a:hover {
  color: #ccc;
  text-decoration: none;
}
.emailIcon:hover {
  color: red;
  text-decoration: none;
}
.fa-angle-down:hover {
  text-decoration: none !important;
  color: grey;
}
.fa-angle-down:focus {
  text-decoration: none !important;
}
.fa-angle-down {
  margin-top: 100px;
  font-size: 50px;
  transition: all 0.5s;
  padding: 10px 14px;
  position: relative;
  z-index: 10;
}
.fa-angle-up:hover {
  text-decoration: none !important;
  color: grey;
}
.fa-angle-up:focus {
  text-decoration: none !important;
}
.fa-angle-up {
  margin-top: 10px;
  font-size: 50px;
  transition: all 0.5s;

  position: relative;
}
.work-wrapper {
  margin: 0 auto;
  padding: 0px 0px 5px;
}
@media screen and (max-width: 600px) {
  .portfolio-img {
    width: 325;
    height: 153;
    border-radius: 10px;
    margin-left: 0;
  }
  .portfolio-overlay {
    position: absolute; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 325; /* Full width (cover the whole page) */
    height: 153; /* Full height (cover the whole page) */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    border-radius: 10px;
  }

  .work-info {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 325.2; /* Full width (cover the whole page) */
    height: 23.28; /* Full height (cover the whole page) */
    background-color: hotpink; /* Black background with opacity */
    color: white;
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
  }
  .links {
    padding: 60 80;
  }
  .work-info-title {
    font-size: 14px;
  }
  .modal-img {
    width: 292;
    height: 379;
    border-radius: 45px;
    margin-left: 0px;
  }
  .modal-img2 {
    width: 292;
    height: 379;
    border-radius: 45px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 398px) {
  .portfolio-img {
    width: 280;
    height: 131;
    border-radius: 10px;
    margin-left: 0;
  }
  .portfolio-overlay {
    position: absolute; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 280; /* Full width (cover the whole page) */
    height: 131; /* Full height (cover the whole page) */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    border-radius: 10px;
  }

  .work-info {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 280.1; /* Full width (cover the whole page) */
    height: 23.28; /* Full height (cover the whole page) */
    background-color: hotpink; /* Black background with opacity */
    color: white;
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
  }
  .links {
    padding: 50 80;
  }
}
@media screen and (max-width: 330px) {
  .portfolio-img {
    width: 280;
    height: 131;
    border-radius: 10px;
    margin-left: -15;
  }
  .portfolio-overlay {
    position: absolute; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 280; /* Full width (cover the whole page) */
    height: 131; /* Full height (cover the whole page) */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    border-radius: 10px;
    margin-left: -15;
  }

  .work-info {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 280px; /* Full width (cover the whole page) */
    height: 23.28; /* Full height (cover the whole page) */
    background-color: hotpink; /* Black background with opacity */
    color: white;
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
  }
}
@media screen and (max-width: 319px) {
  .portfolio-img {
    width: 260;
    height: 120;
    border-radius: 10px;
    margin-left: -25;
  }
  .portfolio-overlay {
    position: absolute; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 260; /* Full width (cover the whole page) */
    height: 120.1; /* Full height (cover the whole page) */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    border-radius: 10px;
    margin-left: -25;
  }

  .work-info {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 260px; /* Full width (cover the whole page) */
    height: 21.28; /* Full height (cover the whole page) */
    background-color: hotpink; /* Black background with opacity */
    color: white;
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
  }
  .links {
    padding: 45 80;
  }
}
.fa-bars {
  color: #fff;
}

.intro-content {
  padding: 340.1px 0px 86px;
}

@media screen and (max-width: 1000px) {
  .intro-content {
    padding: 34% 0 5% 0;
  }
}

@media screen and (max-width: 768px) {
  .intro-content {
    padding: 40% 0 5% 0;
  }
  .navbar-toggler {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 600px) {
  .intro-content {
    padding: 45% 0 5% 0;
  }
  a.fa.fa-angle-down {
    margin-top: 80px !important;
  }
}
@media screen and (max-width: 572px) {
  .intro-content {
    padding: 50% 0 5% 0;
  }
  a.fa.fa-angle-down {
    margin-top: 80px !important;
  }
}
@media screen and (max-width: 540px) {
  .intro-content {
    padding: 55% 0 5% 0;
  }
  .title {
    font-size: 50px !important;
  }
  .subtitle {
    font-size: 16px;
  }
  .emailIcon {
    font-size: 40px;
    color: black;
  }
}
@media screen and (max-width: 479px) {
  .intro-content {
    padding: 65% 0 5% 0;
  }
  .title {
    font-size: 48px !important;
  }
  .subtitle {
    font-size: 15.5px;
  }
  .fa-bars {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 419px) {
  .intro-content {
    padding: 70% 0 5% 0;
  }
  .title {
    font-size: 40px !important;
  }
  .subtitle {
    font-size: 15px;
  }
  .fa-bars {
    font-size: 22px !important;
  }
  .navbar-brand {
    padding: 4px 0px !important;
    font-size: 14px !important;
  }
  p {
    font-size: 15px;
  }
  h2 {
    font-size: 28px;
  }

  h5 {
    font-size: 16px;
  }
  .emailIcon {
    font-size: 30px;
  }
}
@media screen and (max-width: 294px) {
  .intro-content {
    padding: 80% 0 5% 0;
  }
  .title {
    font-size: 40px !important;
  }
  .subtitle {
    font-size: 15px;
  }
  .fa-bars {
    font-size: 22px !important;
  }
  .navbar-brand {
    padding: 4px 0px !important;
    font-size: 13px !important;
  }
  .modalBtn {
    margin-bottom: 20px !important;
    padding: 4px;
    font-size: 11px;
  }
  .modal-description {
    font-size: 10px !important;
  }
}
@media screen and (min-width: 1600px) {
  a.fa.fa-angle-down {
    position: relative;
    bottom: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 818px) {
  .nav > li > a {
    padding: 15px 10px;
  }
}
@media (min-width: 768px) {
  .navbar-custom {
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #000;
  }
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 700px;
  }
}
@media (max-width: 340px) {
  .modal-body p {
    font-size: 14px;
  }
}
@media (max-width: 340px) {
  .modal-description {
    margin: 0;
  }
}
